<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>2Steps Plugin Admin Page</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body class="bg-light">
<div class="container">
    <div class="py-5 text-center">
        <h2>2Step Plugin</h2>
        <p class="lead"> List your Google and Facebook reviews in a page with a shortcode.</p>
        <p class="lead"> This plugin also aggregates the total reviews and rating from your Google My Business and adds them as a schema for Google results.</p>
    </div>

    <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Your Status</span>

                {% if (connected) %}
                    <button type="button" class="btn btn-success">Connected</button>
                {% else %}
                    <button type="button" class="btn btn-danger">Disconnected</button>
                {% endif %}
            </h4>
            <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">Company Name</h6>
                        <small class="text-muted">
                            {% if (dash) %}
                                {{ dash.company[0].name }}
                            {% endif %}
                        </small>
                    </div>
                    <span class="text-muted"></span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">Total Reviews</h6>
                        <small class="text-muted">Received until today</small>
                    </div>
                    <span class="text-muted">
                       {% if (dash) %}
                           {{ dash.company[0].value }}
                       {% endif %}
                    </span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">Total Invites</h6>
                        <small class="text-muted">Sent until today</small>
                    </div>
                    <span class="text-muted">
                        {% if (dash) %}
                            {{ dash.invites.received_rate.general.sent }}
                        {% endif %}
                    </span>
                </li>
                <li class="list-group-item d-flex justify-content-between bg-light">
                    <div class="text-success">
                        <h6 class="my-0">Success Rate</h6>
                    </div>
                    <span class="text-success">
                         {% if (dash) %}
                             {{ dash.invites.received_rate.general.success_rate }} %
                         {% endif %}

                    </span>
                </li>

            </ul>

        </div>
        <div class="col-md-8 order-md-1">
            <h4 class="mb-3">Api Connection</h4>
            <form action="{{ url }}" method="post">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="firstName">Client ID</label>
                        <textarea class="form-control" id="client_id" name="client_id" placeholder="" required >1_3bcbxd9e24g0gk4swg0kwgcwg4o8k8g4g888kwc44gcc0gwwk4</textarea>
                        <div class="invalid-feedback">
                            Valid first name is required.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="lastName">Client Secret</label>
                        <textarea class="form-control" id="client_secret" name="client_secret" placeholder="" required >4ok2x70rlfokc8g0wws8c8kwcokw80k44sg48goc0ok4w0so0k</textarea>
                        <div class="invalid-feedback">
                            Valid last name is required.
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="firstName">Username</label>
                        <input type="text" class="form-control" id="username" name="username" value="" placeholder="Your username at 2steps"/>
                        <div class="invalid-feedback">
                            Valid first name is required.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="lastName">Password</label>
                        <input type="password" class="form-control" id="password" name="password" value="" placeholder="Your password at 2steps"/>
                        <div class="invalid-feedback">
                            Valid last name is required.
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 mb-3">
                        <label for="firstName">Api</label>
                        <input type="text" class="form-control" id="api" name="api" value="https://api.2stepreviews.com"/>

                    </div>
                </div>

                <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to connect</button>
            </form>
        </div>
    </div>

    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2017-2019 2StepReviews</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Privacy</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
    </footer>
</div>

</body>

</html>